@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    background-color: #222;
    font-family: 'Outfit';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    max-width: 600px;
    width: 90%; /* Ajuste a largura para telas menores */
    margin: 0 auto; /* Centraliza o container */
}

.title-image {
    max-width: 100%;
    height: auto;
    display: block; /* Garante que a imagem seja tratada como um bloco e esteja centralizada */
    margin: 0 auto; /* Centraliza a imagem */
}

.description {
    margin-top: 20px;
    font-size: 1.2em;
    color: #fff;
}

p {
    color: #fff;
}

.video-container {
    margin: 20px 0;
    text-align: center; /* Centraliza o vídeo dentro do container */
}

.video-container iframe {
    max-width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; /* Centraliza os itens do formulário */
}

form input, form button {
    padding: 10px;
    font-size: 1em;
    font-family: 'Outfit';
    letter-spacing: 2px;
    width: 100%; /* Faz os inputs e botão ocuparem a largura disponível */
    max-width: 300px; /* Limita a largura máxima dos inputs e botão */
}

#submitBtn {
    background-color: #0ea15d;
    color: white;
    border: none;
    cursor: not-allowed;
}

#submitBtn:enabled {
    cursor: pointer;
}

.success-message {
    display: none;
    color: green;
    font-size: 1.2em;
    margin-top: 20px;
}

/* Media Queries */

@media (max-width: 768px) {
    .description {
        font-size: 1em; /* Reduz o tamanho da fonte em telas menores */
    }

    form input, form button {
        font-size: 0.9em; /* Reduz o tamanho da fonte dos inputs e botão */
    }

    .video-container iframe {
        width: 90%; /* Ajusta a largura do vídeo para ser menor em telas menores */
    }
}

@media (max-width: 480px) {
    .description {
        font-size: 0.9em; /* Reduz ainda mais o tamanho da fonte */
    }

    form input, form button {
        font-size: 0.8em; /* Reduz ainda mais o tamanho da fonte dos inputs e botão */
    }

    .video-container iframe {
        width: 85%; /* Ajusta a largura do vídeo para ser menor em telas muito pequenas */
    }
}
